body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 55px;
}

.section-items{
    display: flex;
    padding: 80px 150px 0;
}

.heading-content{
    border-left: 4px solid rgba(238, 14, 14, 0.582);
    padding-left:10px ;
}
.heading-content h1{
    font-family: 'Yeseva One', cursive;
    font-weight: 500;
}

.color-text{
    color: orange;
}
.p-content{
    width: 60%;
    margin-top: -20px;
}
.p-content p{
    color: gray;
    font-size: 20px;
}

.p-content p{
    color: gray;
    font-size: 18px;
    font-weight: 400;
}

.link-button{
    background-color: rgb(221, 53, 53);
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.right-container{
    width: 50%;
}
.right-container img{
    width: 100%;
}

.mission-title{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

.cart-section{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin: -80px 0 50px 0;
}
.cart-item{
    width: 280px;
    padding:25px 30px ;
    border-radius: 17px;   
}

.cart-item{
    color: rgb(78, 68, 68);   
}

.cart-item img{
    width: 30%;
}

.cart-1{
background-image:linear-gradient(130deg, rgb(241, 83, 43) , rgb(202, 185, 26)) ;
}
.cart-2{
background-image:linear-gradient(130deg, rgb(211, 146, 130) , rgb(251, 234, 76)) ;
}
.cart-3{
background-image:linear-gradient(130deg, rgb(233, 207, 150) , rgb(202, 185, 26)) ;
}

.development-section{
    background-image: url(image/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 65px;
    background-size: 200px;
}
.image-container{
    width: 45%;
}

.image-container img{
    width: 100%;
}

.right-container{
    width: 75%;
    margin-left: 50px;
}