body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* top-section */

.top-section{
    margin: 80px 0 ;
}
.section-items{
    display: flex;
    width: 78%;
    margin: 0 auto;
}
#border-span{
    height: 100px;
    top: 138px;
    border-radius: 2px;
    position: absolute;
    border-left: 4px solid rgba(238, 14, 14, 0.582);
}
.heading{
    margin-bottom: -20px;
}
.text-container{
    width: 70%;
}
.text-container small{
    color: grey;
}

.heading h1{
    font-family: 'Yeseva One', cursive;
    font-weight: 500;
    margin-left: 15px;
    font-size: 55px;
    color: rgb(68, 62, 54);
}
.text-container p{
    color: rgb(141, 125, 125);
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 30px;
    margin-right: 150px;
}
.color-text{
    color: rgba(238, 158, 11, 0.849);
}

/* button design */

.link-button{
    background-color: rgb(241, 83, 43);
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.image-container{
    width: 30%;
}
.image-container img{
    width: 100%;
}

/* mission section */

.mission-title{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}
.cart-items{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin-bottom: 100px;
}
.cart-item{
    width: 280px;
    padding:25px 30px ;
    border-radius: 17px; 
    color: rgb(78, 68, 68);  
}
.cart-item img{
    width: 30%;
}
.cart-1{
background-image:linear-gradient(130deg, rgb(241, 83, 43) , rgb(202, 185, 26)) ;
}
.cart-2{
background-image:linear-gradient(130deg, rgb(211, 146, 130) , rgb(251, 234, 76)) ;
}
.cart-3{
background-image:linear-gradient(130deg, rgb(233, 207, 150) , rgb(202, 185, 26)) ;
}

/* development-section */

.development-section{
    background-image: url(image/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 65px;
    background-size: 200px;
}
.image-container{
    width: 45%;
}
.image-container img{
    width: 100%;
}
.heading h2{
    font-size: 35px;
    color: rgb(68, 62, 54);
}
.right-container{
    padding-left: 55px;
}

.right-container p{
    margin: 30px 0;
    line-height: 30px;
}

/* community-section */

.community-section{
    padding-bottom: 100px;
    background-image: url(image/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 1100px 300px;
    background-size: 200px;
    margin: 100px 0;
}
.community-section h1 {
    font-size: 35px;
    color: rgb(68, 62, 54);
}
.content p{
    margin-right: 70px;
}

/* custom-section */

.custom-build-section{
    margin-top: 50px;
    margin-bottom: 100px;
}
.custom-build-section .heading h1{
    margin-top: -80px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.repot-container{
    width: 100%;
    background-image: url(image/shapes/covid-19.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 150px;
    text-align: center;
    box-shadow: 10px 10px 100px 5px rgb(236, 222, 192);
    border-radius: 7px;
    padding-bottom: 50px;
}


.covid-19{
    background-color: grey;
    text-align: center;
    color: honeydew;
    border-radius: 7px 7px 0 0;
    margin-bottom: 55px;
}
.covid-19 h1{
    margin: 0;
}
.covid-19-retots{
    display: flex;
}
.repots{
    width: 40%;
}
.active-close{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.active{
    width: 48%;
}
.active .title h1{
    border:1px solid gray;
    border-radius: 7px;
}
.mild-condition , .recovered{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mild-condition h1{
    color: rgb(81, 108, 184);
}
.serious-condition , .deaths{
    display: flex;
    align-items: center;
    justify-content: center;
}
.serious-condition h1{
    color: red;
}
.recovered h1{
    color: rgb(36, 179, 36);
}
.close{
    width: 48%;
}

.close .title h1{
    border:1px solid gray;
    border-radius: 7px;
}
.total-cases h1 ,.total-deaths h1 , .total-recovered h1{
    color: rgb(138, 131, 123);
    font-weight: 900;
    font-size: 35px;
    margin-top: -20px;
    margin-bottom: -5px;
}
.total-recovered h1{
    color: rgb(92, 190, 92);
}
.total-cases h2 ,.total-deaths h2 , .total-recovered h2{
    color: rgb(63, 58, 52);
    font-weight: 700;
    font-size: 25px;
}
.total-cases a{
    color: orange;
}

/* footer-section */

footer{
    text-align: center;
    background-color: rgb(2, 3, 19);
    color: white;
    padding: 5px 0;   
}
footer h3{
    font-family: 'Yeseva One', cursive;
    font-size: 35px;
    font-weight: 400;
}
footer p{
    color: rgb(69, 86, 117);
}